@import "./variables";

@font-face {
    font-family: 'Monserrat';
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color3;
    font-family: 'Monserrat';
    margin: 0px;
    padding: 0px;
}

.jokes {
    border: 4px solid $color1;
    display: flex;
    margin: 10px;
    background-color: $color4;

    &__left {
        background-color: $color2;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
    }

    &__result {
        color: $color1;
        font-weight: bolder;
        font-size: 30px;
    }

    &__img {
        width: 300px;
    }

    &__right {
        padding: 50px;
        width: 900px;
    }

    &__title-name {

    }

    &__title-text{
        font-size: 20px;
    }

    &__button{
        background-color: transparent;
        border: 4px solid $color7;
        color: $color6;
        font-size: 20px;
        padding: 20px 50px;
        margin: 10px;
        width: 180px;
        text-justify: center;
    }

    &__button-pressed{
        color: $color5;
        font-size: 20px;
        padding: 20px 50px;
        margin: 10px;
        width: 180px;
        text-justify: center;
        background-color: $color3;
        border: 4px solid $color1;
    }

    &__bottom{
        padding: 10px;
    }

    &__reset {
        border: none;
        background-color: $color2;
        color: $color1;
        padding: 10px 30px;
        font-size: 15px;
    }

    &__submit {
        border: none;
        background-color: $color1;
        color: $color2;
        padding: 10px 30px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .jokes {
        border: none;
        display: flex;
        margin: 0px;
        height: 100vh;
        width: 100%;
        background-color: $color4;

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px;
            min-width: 800px;
        }

        &__categories {
            max-width: 799px;
        }

        &__img {
            width: 250px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .jokes {
        border: none;
        display: flex;
        margin: 0px;
        height: 100vh;
        background-color: $color4;
        
        &__result {
            color: $color1;
            font-weight: bolder;
            font-size: 25px;
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-width: 470px;
        }

        &__img {
            width: 250px;
        }

        &__button{
            background-color: transparent;
            border: 4px solid $color7;
            color: $color6;
            font-size: 20px;
            padding: 30px 50px;
            margin: 10px;
            width: 180px;
            text-justify: center;
        }
    
        &__button-pressed{
            color: $color5;
            font-size: 20px;
            padding: 30px 50px;
            margin: 10px;
            width: 180px;
            text-justify: center;
            background-color: $color3;
            border: 4px solid $color1;
        }

        &__reset {
            font-size: 20px;
            padding: 20px 40px;
        }
    
        &__submit {
            font-size: 20px;
            padding: 20px 40px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body{
        height: 100%;
    }
    
    .jokes {
        border: none;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
        background-color: $color4;
    
        &__left {
            background-color: $color2;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px;
        }
    
        &__result {
            color: $color1;
            font-weight: bolder;
            font-size: 30px;
        }
    
        &__img {
            width: 300px;
        }
    
        &__right {
            padding: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__title {
            width: 100%;
        }

        &__title-name {
            background-color: $color2;
            color: $color1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            margin: 0px;
        }
    
        &__title-text{
            font-size: 30px;
            padding: 0px 30px;
        }

        &__categories {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__button{
            background-color: transparent;
            border: 4px solid $color7;
            color: $color6;
            font-size: 20px;
            padding: 20px 50px;
            margin: 10px;
            width: 70%;
            text-justify: center;
        }
    
        &__button-pressed{
            color: $color5;
            font-size: 20px;
            padding: 20px 50px;
            margin: 10px;
            width: 70%;
            text-justify: center;
            background-color: $color3;
            border: 4px solid $color1;
        }
    
        &__bottom{
            padding: 10px;
        }
    
        &__reset {
            font-size: 30px;
            padding: 20px 40px;
        }
    
        &__submit {
            font-size: 30px;
            padding: 20px 40px;
        }
    }
}